.sidebar {
  background-color: var(--slack-color);
  border-top: 1px solid #49274b;
  flex: 0.2;
  max-width: 320px;
  min-width: 240px;
  color: #fff;
  overflow-y: scroll;
}

.sidebar_header {
  display: flex;
  border: 1px solid #49274b;
  padding: 13px;
}

.sidebar_info {
  flex: 1;
}

.sidebar_info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar_info > h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}
.sidebar_info > h3 > .MuiSvgIcon-root {
  color: #1ccf1c;
  font-size: 14px;
  margin-right: 2px;
  margin-top: 1px;
}

.sidebar_header > .MuiSvgIcon-root {
  color: #49274b;
  background-color: #fff;
  padding: 8px;
  font-size: 18px;
  border-radius: 50%;
}

.sidebar hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}
